node_modules
mongodata
mongodata_dev
package-lock.json
.vscode
Note
todo.md
workspace.code-workspace
temp
public/uploads/**/*.wav
public/uploads/tbcare/*
public/uploads/**/*.pdf
public/uploads/**/*.png
public/uploads/**/*.jpeg
public/uploads/**/*.jpg

public/uploads/foto_indikasi/*

public/uploads/batuk/*
