@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i&display=swap");
@import url("https://fonts.googleapis.com/css?family=Nunito:400,600,700&display=swap");
:root {
  --primary-color: #077a7d;
  --warning-color: #ff8d28;
  --danger-color: #ff383c;
  --text-color-main: #06202b;
  --bg-color: #f5eedd;
  --secondary-bg-color: #e4f9f5;
  --font-title: "Playfair Display", serif;
  --font-body: "Poppins", sans-serif;
}

/*--------------------------------------------------------------------
                            General
---------------------------------------------------------------------*/

.font-title {
  font-family: var(--font-title);
  font-weight: bold;
}

.font-body {
  font-family: var(--font-body);
}
.text-color-primary {
  color: var(--primary-color);
}
.bg-color-primary {
  background-color: var(--primary-color);
}
.text-primary {
  color: var(--primary-color);
}
.bg-primary {
  background-color: var(--primary-color) !important;
}


html,
body {
  height: 100%;
}

.btn-primary {
  background: var(--primary-color);
  border: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  margin: 0px;
  line-height: 1.5;
  color: var(--text-color-main);
}

.nav-card {
  border-radius: 20px;
  background: linear-gradient(
    122deg,
    var(--white, #fff) 30.71%,
    var(--Primary, #7ae2cf) 237.82%
  );
  filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.25));
}
.nav-card .btn {
  width: 100%;
}
.nav-card .iq-doc-info > h4 {
  font-weight: 700;
}

/* active tab */
.iq-edit-profile.nav-pills .nav-link.active,
.iq-edit-profile.nav-pills .show > .nav-link {
  color: #fff;
  background-color: var(--primary-color);
}
/*--------------------------------------------------------------------
                            Login Page
---------------------------------------------------------------------*/

.login-page {
  height: 100%;
  position: relative;
  padding-top: 20px;
}
.login-banner {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  background-color: var(--primary-color);
  border-radius: 40px 40px 0 0;
  margin-left: 0;
  padding: 40px;
}
.login-banner .login-logo {
  display: inline-block;
  width: fit-content;
}
.login-banner .login-logo > img {
  width: 100%;
  max-width: 352px;
  object-fit: contain;
}
.login-illustration {
  width: 40%;
  flex: 1;
  max-width: 420px;
  object-fit: contain;
  display: none;
}
.bottom-messages h5 {
  font-size: 24px;
  font-family: var(--font-title);
  font-weight: bold;
  color: var(--bg-color);
}
.bottom-messages p {
  font-size: 14px;
  color: var(--bg-color);
}

.sign-in-from {
  position: absolute !important;
  z-index: 10;
  top: 50%;
  color: var(--text-color-main);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  left: 50%;
  width: 80svw;
  right: auto;
  transform: translate(-50%, -50%);
}
.sign-in-form .title {
  font-size: 48px;
}

.sign-in-form .description {
  font-size: 20px;
}

.form-submit .btn-submit {
  width: 100%;
  background: var(--primary-color);
  padding: 12px;
  font-size: 16px;
  font-weight: 500;
  color: white;
}
.form-submit .btn-submit:hover {
  filter: brightness(80%);
}
.sign-in-from input {
  border: 1px solid var(--text-color-main);
}

@media (min-width: 767px) {
  .login-page {
    padding: 48px 48px 0;
  }
  .login-banner {
    padding: 20px 12px;
    width: 75%;
  }
  .bottom-messages {
    width: 80%;
  }
  .sign-in-from {
    left: auto;
    right: 48px;
    width: 40svw;
    max-width: 620px;
    min-width: 320px;
    padding: 16px 24px;
    transform: translateY(-50%);
  }
  .login-illustration {
    display: block;
  }
  .bottom-messages h5 {
    font-size: 36px;
  }
  .bottom-messages p {
    font-size: 24px;
  }
}

/*--------------------------------------------------------------------
                            Layout Admin
---------------------------------------------------------------------*/

body > .wrapper {
  background: var(--primary-color);
}
.content-page {
  background: var(--secondary-bg-color);
  border-radius: 0;
}
.home-admin {
  display: flex;
  flex-direction: column;
}

.iq-top-navbar {
  flex: 1;
  margin: 0;
  left: 260px;
  border-radius: 0;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
  width: calc(100% - 260px);
}
@media (max-width: 1299px) {
  .iq-top-navbar {
    left: 0;
    width: 100%;
  }
}
.iq-top-navbar .card-title {
  font-family: var(--font-title);
  font-size: 28px;
  font-weight: 700;
  padding: 24px 0;
}
.iq-top-navbar .iq-search-bar {
  padding: 0 30px;
}
.navbar-list li:last-child > a {
  padding-right: 30px;
}
.navbar-list li:last-child > a h6 {
  font-family: "Nunito", sans-serif;
  font-size: 24px;
  text-transform: capitalize;
}
.navbar-list li:last-child > a .caption span {
  display: inline-block;
  margin-top: 2px;
  padding: 2px 8px;
  font-size: 14px;
  border-radius: 6px;
  background: var(--primary-color);
  color: var(--bg-color);
}

@media (max-width: 1699px) {
  .iq-top-navbar .iq-search-bar .searchbox {
    width: fit-content;
  }
  body.sidebar-main .iq-sidebar {
    background: var(--primary-color);
  }
}

.iq-footer .copyright-text a {
  color: var(--primary-color);
}

/*--------------------------------------------------------------------
                            Home Admin
---------------------------------------------------------------------*/

.device-count .iq-card-body {
  border-radius: 20px;
  background: linear-gradient(
    100deg,
    var(--Secondary, #077a7d) -17.58%,
    var(--Text-Color, #06202b) 179.7%
  ) !important;
  filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.25));
}
.device-count .iq-card-body span {
  font-size: 36px;
}
.device-count .iq-card-body span,
.device-count .iq-card-body h5 {
  color: white;
  font-weight: 700;
}
.device-count .bg-success {
  background: white !important;
  color: var(--primary-color);
}

.home-divider-navigation {
  border-radius: 12px;
  background: linear-gradient(0deg, #fff 0%, #fff 100%);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  margin-top: 40px;
}
.home-divider-navigation .card-title {
  font-family: var(--font-title);
  font-weight: 700;
  font-size: 24px;
}

/*--------------------------------------------------------------------
                            Device List
---------------------------------------------------------------------*/
.device-list__filter-card {
  border-radius: 12px;
  background: linear-gradient(0deg, #fff 0%, #fff 100%);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}

.device-list__filter-card .iq-search-bar {
  padding: 0;
}
.device-list__summary-cards .iq-card {
  border-radius: 20px;
  filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.25));
  background: transparent;
}
@media (min-width: 992px) {
  .device-list__summary-cards .col-lg-3 {
    -ms-flex: 0 0 33%;
    flex: 0 0 33%;
    max-width: 33%;
  }
}
.device-list__summary-cards .iq-card .iq-card-body .counter {
  font-size: 36px;
  font-weight: 700;
  line-height: normal;
}
.device-list__summary-cards .iq-card .iq-card-body h5 {
  font-size: 20px;
}

.device-list__summary-cards .iq-card .iq-bg-primary {
  background: linear-gradient(
    53deg,
    #fff 47.7%,
    var(--Primary, #7ae2cf) 274.11%
  ) !important;
}
.device-list__summary-cards .iq-card .bg-success {
  background: var(--primary-color) !important;
}
.device-list__summary-cards .iq-card .iq-bg-warning {
  background: linear-gradient(53deg, #fff 47.7%, #ff8d28 274.11%) !important;
}
.device-list__summary-cards .iq-card .bg-warning {
  background: var(--warning-color) !important;
}
.device-list__summary-cards .iq-card .iq-bg-danger {
  background: linear-gradient(53deg, #fff 47.7%, #ff383c 274.11%) !important;
}
.device-list__summary-cards .iq-card .bg-danger {
  background: var(--danger-color) !important;
}
