<footer class="bg-light pt-5 pb-4">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                <a class="navbar-brand d-flex align-items-center" href="/tbcare">
                    <img src="/images/logo.png" width="30" height="30" class="mr-2" alt="TBCare Logo">
                    <span class="font-weight-bold">TBCare</span>
                </a>
            </div>

            <div class="col-lg-6 col-md-6 mb-4 mb-lg-0">
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <h5 class="font-weight-bold mb-3">About</h5>
                        <ul class="list-unstyled">
                            <li><a href="#about" class="text-muted">About us</a></li>
                            <li><a href="#" class="text-muted">Team</a></li>
                            <li><a href="#" class="text-muted">Careers</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <h5 class="font-weight-bold mb-3">Resources</h5>
                        <ul class="list-unstyled">
                            <li><a href="#" class="text-muted">Blog</a></li>
                            <li><a href="#" class="text-muted">FAQ</a></li>
                            <li><a href="#" class="text-muted">Support</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h5 class="font-weight-bold mb-3">Legal</h5>
                        <ul class="list-unstyled">
                            <li><a href="#" class="text-muted">Privacy Policy</a></li>
                            <li><a href="#" class="text-muted">Terms of Service</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <hr class="my-4">
        <div class="text-center text-secondary">
             &copy; <%= new Date().getFullYear() %> tbcare. All rights reserved.
        </div>
    </div>
</footer>